# Utilities
numpy==2.2.6
pandas==2.3.3
ipykernel==7.2.0

# FastAPI
fastapi==0.135.3
uvicorn==0.44.0
python-multipart==0.0.24

# ML / HF
torch==2.11.0
transformers==5.5.0
# Audio processing
librosa==0.11.0

# Elasticsearch
elasticsearch==9.3.0


# Python 3.10.20